<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--This is for having multiple sections.-->
  <configSections>
    <sectionGroup name="settings">
      <section name="scheduler" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="conversion" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="compression" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="imageProcessing" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="thumbnail" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
  </configSections>

  <!--
    TODO:
     - Set the right settings that are required as most of these were just for the testing.
     - Look up and add more settings if needed using this and global Settings classes, and add
       them where they are needed. 
  -->
  
  <!--
      Because a key must be unique add a increased number for "Core", it doesn't matter if there is anything else as it
      only looks if string.Contains("Core") in the code. The values must be integers and there are no failchecks for assigning a core. 
      
      That is, if system has 4 cores, don't assign number 5, 6, 7, 8. 
      
      Don't give same value twice. 
      
      Provided all rules were followed, you can select any core (order was not tested).
      For example use cores: 4 7, it will work, this has been tested.
      
    -->
  <settings>
    <scheduler>
      <add key="Core1" value="1"/>
      <add key="Core2" value="2"/>
      <add key="Core3" value="3"/>
      <add key="Core4" value="4"/>
      <add key="Core5" value="5"/>
      <add key="Core6" value="6"/>
    </scheduler>
    
    <!--
      These settings should be the same for the most part, as the whole solution is depended
      on ConversionProcessName, Compression ProcessName and... that's it.
      
      One thing should be done when changning the setting is doing a test run just in case, as this
      system has not been tested nearly as needed.
      
      Supported formats are added in the same manner as Cores in previous section. 
      Add a increased number for each key, as key must be unique.
    -->
      
    <conversion>
      <!-- The file size is in megabytes! -->
      <add key="MaxFileSize" value="500"/>
      <add key="ProcessName" value="NRecoConversion.exe"/>
      <add key="InputFolder" value="../Resources/Input/"/>
      <add key="OutputFolder" value="../Resources/Output/"/>
      <add key="ErrorLogName" value="error.log"/>
      <add key="Format" value="mp4"/>
      <add key="SupportedFormat1" value="mov"/>
      <add key="SupportedFormat2" value="m4v"/>
      <add key="SupportedFormat3" value="mpeg"/>
      <add key="SupportedFormat4" value="avi"/>
      <add key="SupportedFormat5" value="mp4"/>
      <add key="SupportedFormat6" value="flv"/>
      <add key="SupportedFormat7" value="wmv"/>
      <add key="SupportedFormat8" value="ogg"/>
    </conversion>
    <compression>
      <add key="ProcessName" value="ffmpeg.exe"/>
      <add key="ErrorLogName" value="error.log"/>
    </compression>
    <imageProcessing>
      <add key="ProcessName" value="ImageProcessing.exe"/>
      <add key="InputFolder" value="../Resources/Input/"/>
      <add key="OutputFolder" value="../Resources/Output/"/>
      <add key="SupportedFormat1" value="jpeg"/>
      <add key="SupportedFormat2" value="jpg"/>
      <add key="SupportedFormat3" value="gif"/>
      <add key="SupportedFormat4" value="png"/> 
    </imageProcessing>
    <thumbnail>
      <add key="ResolutionWidth" value="72"/>
      <add key="ResolutionHeight" value="72"/>
    </thumbnail>
  </settings>
    
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>